.About {
  padding-top: 80px;
}
.About h2,
.About h3 {
  text-transform: uppercase;
}
.About h2 {
  font-size: 30px;
  color: var(--secundary-color);
}
.About .title-component-lt {
  border-radius: 0 var(--round-corner-sm) var(--round-corner-sm) 0;
  width: 240px;
  height: 64px;
  border: solid 1.5px var(--secundary-color);
  border-left: none;
  margin-right: 20px;
}
.About .frame-text {
  border-radius: 0 var(--round-corner-sm) var(--round-corner-sm) 0;
  border: solid 2px var(--third-color);
  border-left: none;
  padding: 30px;
}
.About .frame-text p {
  max-width: 450px;
  margin-left: 7rem;
  color: var(--primary-color);
}
.About .btn-standard-rt {
  border-radius: var(--round-corner-sm) 0 0 var(--round-corner-sm);
  background-color: var(--third-color);
  width: 100%;
  padding: 16px 34px;
  color: var(--primary-color);
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  border: 2px solid var(--third-color);
  border-right: none;
  box-shadow: var(--shadow-btn);
  transition: all 180ms ease-in-out;
}

.About .btn-standard-rt:hover {
  background-color: var(--fifth-color);
  box-shadow: none;
}
.About .list-courses {
  margin: 16px 26px 36px;
}
.About .list-courses strong {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--primary-color);
}
.About .list-courses ul {
  font-size: 16px;
  line-height: 1.8rem;
  color: var(--secundary-color);
  margin-top: 0.3rem;
  margin-left: 26px;
  list-style-type: "> ";
}

.About li::marker {
  color: var(--primary-color);
  font-weight: 500;
}
@media (max-width: 1200px) {
  .About h2 {
    font-size: 26px;
  }
  .About .title-component-lt {
    width: 180px;
    height: 54px;
  }
  .About .btn-standard-rt {
    padding: 14px 32px;
    font-size: 16px;
  }
  .About .list-courses {
    margin-bottom: 3rem;
    font-size: 15px;
  }
  .About .frame-text p {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .About {
    padding-top: 70px;
  }
  .About h2 {
    font-size: 24px;
  }
  .About .title-component-lt {
    width: 140px;
  }
  .About .gr-list-btn {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
  .About .btn-standard-rt {
    width: 280px;
  }
  .About .list-courses {
    margin: 0;
    margin-top: 2rem;
    margin-left: 8rem;
    padding-left: 30px;
  }
  .About .frame-text p {
    max-width: unset;
    margin-left: 0rem;
  }
  .About .frame-text {
    margin-left: 8.4rem;
    max-width: 74vw;
    border-left: solid 2px var(--third-color);
    border-radius: var(--round-corner-sm);
  }
}
@media (max-width: 768px) {
  .About .btn-standard-rt {
    display: none;
  }
  .About {
    padding-top: 60px;
  }
  .About .frame-text {
    max-width: 68vw;
  }
  .About .list-courses strong {
    font-size: 12px;
  }
  .About .list-courses ul {
    line-height: 1.6rem;
    font-size: 14px;
  }
  .About .frame-text p {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .About h2 {
    font-size: 22px;
  }
  .About .title-component-lt {
    height: 44px;
    width: 86px;
  }
  .About .list-courses strong {
    font-size: 10px;
  }

  .About .frame-text p {
    margin: 0 1rem;
    font-size: 12px;
  }
  .About .list-courses ul {
    font-size: 12px;
    line-height: 1.4rem;
  }
  .About .list-courses {
    margin: 0 1rem;
    margin-top: 2rem;
  }
  .About .btn-standard-rt {
    width: 240px;
    padding: 12px 24px;
    font-size: 14px;
  }

  .About .frame-text {
    margin-left: 0rem;
    max-width: unset;
  }
}
@media (max-width: 376px) {
  .About h2 {
    font-size: 20px;
  }
  .About .title-component-lt {
    height: 40px;
    width: 60px;
  }
  .About .list-courses {
    padding-left: 12px;
  }
}
