.App * {
  margin: 0;
  padding: 0;
}

:root {
  --font-headers: "Krona One", sans-serif;
  --primary-color: #07393c;
  --secundary-color: #2c666e;
  --third-color: #90ddf0;
  --fourth-color: #0a090c;
  --fifth-color: #f0edee;
  --round-corner-md: 22px;
  --round-corner-sm: 12px;
  --round-corner-xs: 10px;
  --shadow-lb: -6px 6px 12px #2c666e3a;
  --shadow-el: 3px -3px 4px #0a090c26;
  --shadow-btn: 3px -3px 8px #2c666e99;
}

.App {
  background-color: #f0edee;
  color: var(--fouth-color);
  padding: 0;
}
.App a {
  text-decoration: none;
  color: var(--secundary-color);
}
