.Header .frame-header {
  border-radius: var(--round-corner-md) 0 0 var(--round-corner-md);
  background-color: var(--third-color);
  padding: 2.5rem 2rem 2rem;
}
.Header .container-hd {
  width: 200px;
  margin: 0 auto;
}
.Header h1 {
  font-family: var(--font-headers);
  text-transform: uppercase;
  color: var(--primary-color);
}
.Header .container-hd p {
  color: var(--primary-color);

  font-size: 13px;
}

.Header .container-hd strong {
  font-family: var(--font-headers);
  text-transform: uppercase;
  font-size: 10px;
  color: var(--secundary-color);
}
.Header .container-hd ul {
  color: var(--primary-color);
  font-size: 13px;
  list-style-type: "> ";
  font-weight: 500;
}
.Header .frame-image {
  width: 200px;
  height: 200px;
  border-radius: 0 0 var(--round-corner-md) var(--round-corner-md);
}
.Header .frame-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
