.Header {
  width: min(calc(100% - 40px), 56rem);
  margin: 0 auto;
}

.Header .header-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.Header h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 54px;
}
.Header .frame-header p {
  color: var(--primary-color);
  margin-top: 0.3rem;
  font-size: 18px;
  margin-left: 4px;
}
.Header .frame-header .grp-lists {
  margin-top: 1.6rem;
  margin-left: 20px;
}
.Header .frame-header strong {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--secundary-color);
}
.Header .frame-header ul {
  color: var(--primary-color);
  margin-top: 0.3rem;
  margin-left: 22px;
  list-style-type: "> ";
  font-weight: 500;
  font-size: 14px;
}
.Header li::marker {
  color: var(--secundary-color);
}
.Header .frame-image {
  height: 400px;
  align-items: end;
  border-radius: var(--round-corner-md);
}
.Header .frame-image img {
  box-shadow: var(--shadow-lb);
  border-radius: var(--round-corner-md);
  object-fit: cover;
  height: auto;
  max-width: 100%;
}

.Header .btn-standard-lt {
  border-radius: 0 var(--round-corner-sm) var(--round-corner-sm) 0;
  background-color: var(--secundary-color);
  width: 565px;
  padding: 18px 34px;
  color: var(--fifth-color);
  font-size: 18px;
  text-align: end;
  text-transform: uppercase;
  border: 2px solid var(--secundary-color);
  border-left: none;
  box-shadow: var(--shadow-btn);
  transition: all 180ms ease-in-out;
}

.Header .btn-standard-lt:hover {
  background-color: var(--fifth-color);
  box-shadow: none;
  color: var(--secundary-color);
}
@media (max-width: 1200px) {
  .Header h1 {
    font-size: 50px;
  }

  .Header .btn-standard-lt {
    width: 460px;
  }
}
@media (max-width: 992px) {
  .Header h1 {
    font-size: 42px;
  }
  .Header .frame-header p {
    font-size: 16px;
  }

  .Header .frame-header strong {
    font-size: 10px;
  }
  .Header .frame-header ul {
    font-size: 12px;
  }
  .Header .frame-image {
    height: 450px;
  }
  .Header .btn-standard-lt {
    width: 360px;
    padding: 16px 30px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .Header h1 {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .Header h1 {
    font-size: 38px;
  }
  .Header .frame-header strong {
    font-size: 9px;
  }
  .Header .frame-header ul {
    font-size: 11px;
    margin-top: 0;
  }
}
@media (max-width: 376px) {
  .Header h1 {
    font-size: 28px;
  }
  .Header .frame-header strong {
    font-size: 7px;
  }
  .Header .frame-header ul {
    font-size: 9px;
  }
  .Header .frame-header .grp-lists {
    justify-content: space-between;
    margin-left: 4px;
    margin-top: 1.4rem;
  }
}
