.Header .frame-header {
  border-radius: var(--round-corner-md) 0 0 var(--round-corner-md);
  background-color: var(--third-color);
  padding: 3rem 3rem 3rem 9rem;
}

.Header h1 {
  font-family: var(--font-headers);
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 54px;
}
.Header .frame-header p {
  color: var(--primary-color);
  margin-top: 0.3rem;
  font-size: 18px;
  margin-left: 4px;
}

.Header .frame-header strong {
  font-family: var(--font-headers);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--secundary-color);
}
.Header .frame-header ul {
  color: var(--primary-color);
  margin-top: 0.3rem;
  margin-left: 26px;
  list-style-type: "> ";
  font-weight: 500;
}
.Header .frame-image {
  align-items: end;
  height: 90vh;
  background-color: var(--third-color);
  border-bottom-left-radius: var(--round-corner-md);
}
.Header .frame-image img {
  box-shadow: var(--shadow-lb);
  object-fit: cover;
  border-radius: var(--round-corner-md) 0 0 var(--round-corner-md);
  height: 100%;
  width: 100%;
}

.Header .btn-standard-lt {
  border-radius: 0 var(--round-corner-sm) var(--round-corner-sm) 0;
  background-color: var(--secundary-color);
  width: 565px;
  padding: 18px 34px;
  font-family: var(--font-headers);
  color: var(--fifth-color);
  font-size: 18px;
  text-align: end;
  text-transform: uppercase;
  border: 2px solid var(--secundary-color);
  border-left: none;
  box-shadow: var(--shadow-btn);
}

.Header .btn-standard-lt:hover {
  background-color: var(--fifth-color);
  box-shadow: none;
  color: var(--secundary-color);
}
