.MyProjects {
  padding-top: 90px;
}
.MyProjects h2,
.MyProjects h3 {
  text-transform: uppercase;
  font-family: var(--font-headers);
}
.MyProjects h2 {
  font-size: 30px;
  color: var(--secundary-color);
}
.MyProjects .element-project .btn-prj {
  border: none;
}
.MyProjects .element-project h3 {
  font-size: 18px;
  text-align: center;
  padding: 16px;
  color: var(--primary-color);
  text-align: center;
  border-radius: 0;
  border: var(--primary-color) 1.4px solid;
  border-bottom: none;
  transition: all 150ms ease-in-out;
}
.MyProjects .element-project h3.label-prj {
  color: var(--fifth-color);
  border-radius: 0 0 var(--round-corner-xs) var(--round-corner-xs);
  background-color: var(--primary-color);
}
.MyProjects .element-project .btn-prj:hover {
  opacity: 0.85;
}

.MyProjects .title-component-rt {
  border-radius: var(--round-corner-sm) 0 0 var(--round-corner-sm);
  width: 240px;
  height: 64px;
  border: solid 2px var(--secundary-color);
  border-right: none;
  margin-left: 20px;
}
.MyProjects .grid-projects {
  margin: 30px 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
}

.MyProjects article:nth-child(2),
.MyProjects article:nth-child(4) {
  margin-top: 50px;
}

.MyProjects .element-project .frame-prj {
  height: 240px;
  width: 400px;
}
.MyProjects .element-project img {
  border: var(--primary-color) 1.4px solid;
  border-radius: var(--round-corner-sm) var(--round-corner-sm) 0 0;
  border-bottom: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.MyProjects .element-project .info-prj {
  width: 400px;
  background-color: var(--fifth-color);
  border-radius: 0 0 var(--round-corner-sm) var(--round-corner-sm);
  border: var(--primary-color) 1.4px solid;
  border-top: none;
  padding: 0px 20px 14px;
  font-size: 14px;
  text-align: left;
}

.MyProjects .element-project .info-prj a {
  display: block;
  margin: 12px 0px 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
}
.MyProjects .element-project .info-prj a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .MyProjects .grid-projects {
    margin: 36px 3rem 0px;
    gap: 20px;
  }
  .MyProjects .element-project .frame-prj {
    height: 200px;
    width: 390px;
  }
  .MyProjects h2 {
    font-size: 26px;
  }
  .MyProjects .title-component-rt {
    width: 180px;
    height: 54px;
  }
  .MyProjects .element-project .info-prj {
    width: 390px;
    padding: 0px 22px 14px;
  }
}
@media (max-width: 992px) {
  .MyProjects h2 {
    font-size: 24px;
  }
  .MyProjects .title-component-rt {
    width: 140px;
  }
  .MyProjects .grid-projects {
    margin: 50px 3rem 0px;
    grid-template-columns: repeat(1, 1fr);
  }

  .MyProjects .element-project .frame-prj {
    height: 200px;
    width: 520px;
  }

  .MyProjects .element-project .info-prj {
    width: 520px;
    background: none;
  }
  .MyProjects article:nth-child(2),
  .MyProjects article:nth-child(4) {
    margin-top: 0px;
  }
  .MyProjects .element-project {
    margin-bottom: 16px;
  }

  .MyProjects .element-project .info-prj a {
    margin-right: 20px;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .MyProjects .element-project .frame-prj,
  .MyProjects .element-project .info-prj {
    width: 420px;
  }
  .MyProjects .element-project h3 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .MyProjects .grid-projects {
    margin: 50px 1rem 0px;
  }
  .MyProjects .element-project .frame-prj,
  .MyProjects .element-project .info-prj {
    width: unset;
    max-width: 380px;
  }
  .MyProjects h2 {
    font-size: 22px;
  }

  .MyProjects .title-component-rt {
    height: 46px;
    width: 100px;
  }
  .MyProjects .element-project .info-prj p {
    font-size: 12px;
  }
  .MyProjects .element-project .info-prj a {
    font-size: 14px;
  }
}
@media (max-width: 376px) {
  .MyProjects h2 {
    font-size: 20px;
  }
  .MyProjects .title-component-rt {
    height: 40px;
    width: 60px;
  }
}
