.Navheader .navbar {
  padding-top: 0.8rem;

  margin: 0 9rem;
}

.Navheader .navbar-brand {
  font-family: var(--font-headers);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
}

.Navheader .navbar-toggler {
  border: none;
  color: var(--primary-color);
  font-size: 20px;
  padding: 2px 5px;
  margin-right: 1rem;
}
.Navheader .navbar-toggler:focus {
  box-shadow: 0 0 0 1px #8f8f8f;
}

.offcanvas {
  background-color: var(--fifth-color);
  color: var(--fourth-color);
  border-radius: var(--round-corner-md) 0 0 var(--round-corner-md);
}
.offcanvas-body {
  padding: 0;
}
.nav-link {
  font-size: 18px;
  margin-bottom: 0.6rem;
  margin-left: 3.4rem;
  border-radius: 14px;
  transition: all 150ms ease-in-out;
}
.nav-link:hover {
  color: var(--secundary-color);
  background: linear-gradient(
    70deg,
    var(--fifth-color) 30%,
    var(--third-color) 100%
  );
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 4px 24px 4px 0px;
  }
}
@media (max-width: 1200px) {
  .Navheader .navbar {
    margin: 0 7rem;
  }
}
@media (max-width: 992px) {
  .Navheader {
    position: fixed;
    width: 100%;
    background-color: var(--fifth-color);
  }
  .Navheader .navbar {
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;

    margin: 0rem;
    margin-left: 5rem;
  }
  .nav-link {
    margin-right: 3rem;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .Navheader .navbar {
    margin-left: 6rem;
  }
}
@media (max-width: 576px) {
  .Navheader .navbar {
    margin-left: 3.4rem;
  }
}
