.Navheader .navbar {
  padding: 0.8rem 2.5rem 0rem;
  background-color: var(--primary-color);
}

.Navheader .navbar-brand {
  color: var(--fourth-color);
  font-size: 18px;
  font-weight: 100;
}

.Navheader .navbar-toggler {
  border: none;

  font-size: 20px;
  padding: 2px 5px;
  margin-right: 1rem;
}
.Navheader .navbar-toggler:focus {
  box-shadow: 0 0 0 1px #8f8f8f;
}

.offcanvas {
  border-radius: var(--round-corner-md) 0 0 var(--round-corner-md);
}
.offcanvas-body {
  padding: 0;
}
.nav-link {
  font-size: 18px;
  margin-bottom: 0.6rem;
  margin-left: 3.4rem;
  border-radius: 14px;
  transition: all 150ms ease-in-out;
}
.nav-link:hover {
  background: linear-gradient(
    70deg,
    var(--fifth-color) 30%,
    var(--third-color) 100%
  );
}

@media (max-width: 992px) {
  .Navheader .navbar-brand {
    font-size: 16px;
  }
  .Navheader {
    position: fixed;
    width: 100%;
    background-color: var(--fifth-color);
  }

  .nav-link {
    margin-right: 3rem;
    font-size: 16px;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .offcanvas.offcanvas-end {
    max-width: 330px;
  }
}

@media (max-width: 576px) {
  .offcanvas.offcanvas-end {
    max-width: 250px;
  }

  .nav-link {
    font-size: 14px;
    margin-bottom: 0.4rem;
  }
}
@media (max-width: 376px) {
  .offcanvas.offcanvas-end {
    max-width: 230px;
  }

  .Navheader .navbar-brand {
    font-size: 14px;
  }
  .Navheader .navbar-toggler {
    font-size: 14px;
  }
}
