.Navheader .navbar {
  padding: 0.6rem 2rem;
}

.Navheader .navbar-brand {
  font-family: var(--font-headers);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  margin-left: 7rem;
}

.Navheader .navbar-toggler {
  border: none;
  color: var(--primary-color);
  font-size: 20px;
  padding: 2px 5px;
}
.Navheader .navbar-toggler:focus {
  box-shadow: 0 0 0 1px #8f8f8f;
}

.offcanvas {
  background-color: var(--fifth-color);
  color: var(--fourth-color);
  border-radius: var(--round-corner-md) 0 0 var(--round-corner-md);
}
.offcanvas-body {
  padding: 0;
  margin-top: 2rem;
}
.nav-link {
  font-size: 18px;
  margin-bottom: 0.6rem;
  margin-left: 2.4rem;
  transition: all 120ms ease-in-out;
}
.nav-link:hover {
  color: var(--secundary-color);
  background: linear-gradient(
    90deg,
    var(--fifth-color) 34%,
    var(--secundary-color) 100%
  );
}
